@import "../../style/base.css";

.table.title{
    padding: 0 12px;
    text-align: left;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-between;
}

.table-overlay{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.table.title {
    color: var(--text--color);
    display: flex;              /* 가로 정렬 */
    align-items: center;        /* 세로 중앙 */
    justify-content: space-between; /* 제목 왼쪽, 버튼 오른쪽 */
    margin-bottom: 1rem;
}

.table.title h4 {
    margin: 0;
}

.table.title button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background:var(--secondary--color-);
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text--color);
    transition: background-color 0.3s ease;
}

.table.title button:hover {
    background: var(--active--color);
    color: var(--secondary--color-);
}
.table-overlay thead{
    text-align: left;
}

.table-overlay th{
    padding: 8px 12px;
    border-bottom: var(--border--);
    font-weight: 600;
}

.table-overlay tbody tr {
    transition: background 0.2s ease;
    border-bottom: var(--border--);
}

.table-overlay tbody tr:hover {
    background: var(--border-color);
}

.table-overlay td {
    padding: 8px 12px;
    border-bottom: var(--border--);
}